<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <!-- <input type="hidden" name="_method" value="patch"> -->

  <label for="username">User name</label>
  <input id= "username" type="text" name="user[username]" value="">
  <br>
  <label for="password">Password</label>
  <input id= "password" type="password" name="user[password]" value="">
  <br>
  <button type="submit" name="create_user">Create New User</button>
</form>
